useDynLib(HiClimR)
exportPattern("^[[:alpha:]]+")

importFrom("graphics", "axis", "par")
importFrom("grDevices", "colorRampPalette", "dev.new")
importFrom("stats", "cor", "cutree", "dist", "fitted", "lm", "na.omit", "pf", "var")
importFrom("utils", "combn", "packageVersion")

import(ncdf4)
